{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-12 col-lg-8">
    <h2>{{ poll.title }}</h2>
    <p>{{ poll.description }}</p>
    <form method="post">{% csrf_token %}
      {% for option in poll.options.all %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="option" id="opt{{ option.id }}" value="{{ option.id }}">
          <label class="form-check-label" for="opt{{ option.id }}">{{ option.text }} <span class="text-muted">({{ option.votes.count }})</span></label>
        </div>
      {% endfor %}
      <button class="btn btn-primary mt-3" type="submit">Vote</button>
    </form>
  </div>
</div>
{% endblock %}
